#follow {
  padding-bottom: 30px;
  padding-top: 30px;
  overflow: hidden;
}

.follow-7 {
  text-align: center;
  display: flex;
  justify-content: center;
}

.follow-7 img {
  height: 3px;
  width: 100vw;
}

.follow-7 p {
  white-space: nowrap;
  padding: 0 30px;
  margin-top: -10px;
  color: #3b3b1e;
  letter-spacing: 2px;
}

.contact-1 {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.contact-1 .i {
  margin: 0 15px;
}

#follow .slick-prev:before {
  display: none;
}

#follow .slick-next:before {
  display: none;
}

@media (max-width: 992px) {

  #follow .slick-slider {
    left: 13px;
    margin:0 30px;
  }

  .contact-1 .i {
    margin: 0 20px;
  }

}